.block2 div .included,.block1 div,.style3{
	border: 2px solid black;
}
.style1{
	display: grid;
	grid-row-gap: 0.5em;
	grid-column-gap: 0.5em;
	text-align:center;
}
.style2{
	grid-column: 1/4;
	border: 2px solid black;

}
.setka{
	display: grid;
	grid-template-columns:1fr 1fr;
	grid-column-gap: 5em;
	margin:20px;
}
.block1{
	display: grid;
	grid-template-columns:0.125fr 2fr 2fr;
	grid-gap: 1em;
}
.style4{
	writing-mode:vertical-rl;
	text-orientation: upright;
	vertical-align: middle;
	text-align:center;
	border: 2px solid black;
}
.block2{
	display: grid;
	grid-template-columns:1.5fr 1fr 0.0625fr; 
	grid-gap: 1em;
}
.style6{
	display: grid;
	grid-gap: 1em;
	grid-template-rows: 1fr 0.75fr;
}
