@font-face {
    font-family: 'Caveat';
    src: url(fonts/Caveat.woff);
}
@font-face{
	font-family:'exo2';
	src: url(fonts/Exo2.woff);
}	
@font-face:{
	font-family:'Comfortaa' ;
	 src: url(fonts/Comfortaa.woff);
}
h1{
	font-family:'Caveat';
	text-align:center ;
	line-height: 80%;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 45px;
	text-shadow:4px 2px 8px green ;
	margin-bottom: 0;
	margin-top: 0;

}
h2{
	font-family:'exo2';
margin-top: 0.2em;
margin-bottom: 1.2em;
text-indent: 25px;
text-align:left;
}
p{font-family: 'Comfortaa';
text-indent: 25px;
text-align: justify;
margin-top: 0;
margin-bottom: 0;
line-height: 200%;
font-size: 20px;
}
p:first-letter {
 font-weight: bold;
 font-size: 45px;
 color: white;
 background: hsla(275, 100%, 10%, 1.0);
}
li {
list-style-type: none;
counter-increment: item;
}
li:before {
content: counter(item, upper-roman) ".";
color:blue;
}


