*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
	color: black;
	list-style-type:none;
}
li{
	list-style-type: none;
}
ul{
	list-style-position: inside;
}
.style1 li{
	list-style-type: decimal;
}
.menu{
	display: flex;
	flex-flow: row wrap;
	margin: 30px 300px 0 150px;
}
.nav1{
	flex: 0 2 25%;
	border: 2px solid black;
	margin-left: 5px;
	max-height:120px;
	min-width:120px;
}
@media(max-width:800px){
.menu li a{
	display: flex;
	text-align: center;
	flex-flow: column wrap;
}
.menu ul>li a{
	display: flex;
	width: 177px;
	height: 35px;
	border: 1px solid black;
}
.menu ul li {	
	position: relative;
	list-style-type: none;

}
.menu li .style1{
	display: none;

}
.menu li:hover .style1{
	display: block;
	position: absolute;
	margin: 0px 0px 0px -30px;
}
.nav2{
	margin-top: 200px;
} 
}
.nav2{
	flex: 0 2 65%;
	border: 2px solid black;
	text-align: center;
	margin-left: 5px;
}
audio{
	margin:5px 0px 5px 0px;
	width: 640px;
	height:50px;
}
video{
	width: 640px;
	height: 480px;
	margin:10px 0px 10px 0px;
}