.block{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.block > li a{
	float: left;
	text-decoration:none;
	border: 1px solid gray;
	width:325px;
	height: 30px;
	padding-left:30px ;
	background: url(labs/facultet.png) no-repeat 0 0
}
.block .style1 a:hover {
	background-position: 0 0px;
}
.block .style2 a:hover {
	background-position: 0 -30px;
}
.block .style3 a:hover {
	background-position: 0 -60px;
}
.block .style4 a:hover {
	background-position: 0 -90px;
}
